{% extends 'base.html.twig' %}

{% block title %}Edition du profil
{% endblock %}

{% block body %}
	<div class="container pt-5">
		<section class="password jyoYKi">
			<h1>Votre profil</h1>
			<div class="row mb-5">
				<p>Bienvenue
					{{ user.firstname }}
					dans votre compte.<br/>
					C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
				</p>
				<div class="col-lg-12">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="{{ path('app_profile') }}">Compte</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="{{ path('app_edit_password') }}">Connexion</a>
						</li>
					</ul>
				</div>
				{{ form_start(form) }}
				{{ form_errors(form) }}
				<div class="grid-credentials mt-4">
					<div class="grid-header-credentials text-start mb-0">
						<header>
							<h2 class="text-h6 mb-3">Modifier votre mot de passe</h2>
						</header>
					</div>
					<div class="mw-0">
						<section class="grid-items-credentials">
							<div class="refunded-content">
								<div class="w-100">
									{{ form_label(form.oldPassword) }}
									<div class="toggle-container position-relative">
										{{ form_widget(form.oldPassword, {'attr': {'class': 'form-control'}}) }}
										{% if form.oldPassword.vars.errors is not empty %}
											<div class="text-danger">
												{% for error in form.oldPassword.vars.errors %}
													<p>{{ error.message }}</p>
												{% endfor %}
											</div>
										{% endif %}
									</div>
									{# {{ form_errors(form.oldPassword) }} #}
								</div>
							</div>
						</section>
					</div>
					<div class="mw-0">
						<section class="grid-items-credentials">
							<div class="refunded-content">
								<div class="w-100">
									{{ form_label(form.newPassword.first) }}
									<div class="toggle-container position-relative">
										{{ form_widget(form.newPassword.first) }}
									</div>
									{% include "partials/_entropy.html.twig" %}
									{{ form_errors(form.newPassword.first) }}
								</div>
							</div>
						</section>
					</div>
					<div class="mw-0">
						<section class="grid-items-credentials">
							<div class="refunded-content">
								<div class="w-100">
									{{ form_label(form.newPassword.second) }}
									<div class="toggle-container position-relative">
										{{ form_widget(form.newPassword.second) }}
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<div class="mt-3 d-flex justify-content-end">
					<button id="submit-update-pw" type="submit" class="btn btn-md btn-dark" disabled>
						<span>Enregistrer les modifications</span>
					</button>
				</div>
				{{ form_end(form) }}
			</div>
		</section>
	</div>
	{% include "shared/_footer_second.html.twig" %}
{% endblock %}

{% block importmap %}
    {{ importmap(['app', 'updatepw']) }}
{% endblock %}