{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="card-body">
			<div class="my-8 mx-auto" style="width: 480px;" data-controller="reset-password">
				<h1 class="text-center mb-4 fs-4">Modification obligatoire de votre mot de passe</h1>
				<p>
					Pour des raisons de sécurité, vous devez définir un nouveau mot de passe avant d'accéder à votre espace.
				</p>
				{{ form_errors(form) }}
				{{ form_start(form) }}
				<div class="row">
					<div
						class="col-12">
						<div class="mb-3">
							{{ form_label(form.plainPassword.first) }}
							{{ form_widget(form.plainPassword.first, {'attr': {'class': 'my-custom-class', 'data-reset-password-target': 'passwordInput'}}) }}
							{{ form_errors(form.plainPassword.first) }}
						</div>
						<div class="mb-3">
							{{ form_label(form.plainPassword.second) }}
							{{ form_widget(form.plainPassword.second, {'attr': {'class': 'my-custom-class'}}) }}
							{{ form_errors(form.plainPassword.second) }}
						</div>
						{% include "partials/_entropy.html.twig" %}
					</div>
				</div>
				<button id="submit-reset-pw" type="submit" class="btn btn-md btn-dark" data-reset-password-target="submitBtn">
					<span>Réinitialiser le mot de passe</span>
				</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}