{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="card-body">
			<div class="my-8 mx-auto" style="width: 480px;">
				<h1 class="text-center mb-4 fs-4">Modification obligatoire de votre mot de passe</h1>
				<p>
					Pour des raisons de sécurité, vous devez définir un nouveau mot de passe avant d'accéder à votre espace.
				</p>
				{{ form_errors(form) }}
				{{ form_start(form) }}
				<div class="row">
					<div class="col-12">
						{{ form_row(form.plainPassword, {'attr': {'class': 'my-custom-class'}}) }}
						{% include "partials/_entropy.html.twig" %}
					</div>
				</div>
				<button id="submit-reset-pw" type="submit" class="btn btn-md btn-dark">
					<span>Réinitialiser le mot de passe</span>
				</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block importmap %}
	{{ importmap(['app', 'resetpw']) }}
{% endblock %}