{% extends 'base.html.twig' %}

{% block title %}Recherche de covoiturages
{% endblock %}

{% block body %}
	<div class="ygs0yx">
		<h1 class="ywaehf">
			<span class="pztveq">Trouvez votre covoiturage</span>
		</h1>
		<div class="a909r8">
			<div data-controller="trip-search" class="vs3pdd">
				{{ form_start(form, {
                attr: {
                    'data-trip-search-target': 'form'
                }
            }) }}
				<div class="row g-3 align-items-center justify-content-center">
					<div class="col-md-3">
						{{ form_widget(form.departureCity, { 'attr': {
                            'data-trip-search-target': 'departureCity',
                            'id': 'trip_search_departureCity', 
                            'autocomplete': 'off'
                            }
                        }) }}
					</div>
					<div class="col-md-3">
						{{ form_widget(form.arrivalCity, { 'attr': {
                            'data-trip-search-target': 'arrivalCity',
                            'id': 'trip_search_arrivalCity',
                            'autocomplete': 'off'
                            }
                        }) }}
					</div>
					<div class="col-md-3">
						{{ form_widget(form.date, {'attr': {'data-trip-search-target': 'date'}}) }}
					</div>
					<div class="col-md-1 d-grid">
						{{ form_widget(form.search) }}
					</div>
				</div>
				{{ form_end(form) }}

				<div data-trip-search-target="results"></div>
			</div>
		</div>
	</div>
{% endblock %}