{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="container pt-5">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<div class="card card-fill">
			<div class="card-body">
				<div class="my-8 mx-auto w-100">
					<h1 class="text-center mb-4 fs-4">S'inscrire à l'application</h1>
					{{ form_errors(registrationForm) }}

					{{ form_start(registrationForm, {'attr': {'id': 'registration_form'}}) }}
					<div class="row">
						<div class="col-md-6">
							{{ form_row(registrationForm.email, {'attr': {'class': 'form-control-login'}}) }}
						</div>
						<div class="col-md-6">
							{{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control-login'}}) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ form_row(registrationForm.firstname, {'attr': {'class': 'form-control-login'}}) }}
						</div>
						<div class="col-md-6">
							{{ form_row(registrationForm.lastname, {'attr': {'class': 'form-control-login'}}) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ form_row(registrationForm.phone, {'attr': {'class': 'form-control-login'}}) }}
						</div>
						<div class="col-md-6">
							{{ form_row(registrationForm.adress, {'attr': {'class': 'form-control-login'}}) }}
							{{ form_row(registrationForm.postalCode, {'attr': {'class': 'form-control-login'}}) }}
							{{ form_row(registrationForm.city, {'attr': {'class': 'form-control-login'}}) }}
							{# <gmpx-api-loader key="{{ google_api_key }}" solution-channel="GMP_QB_addressselection_v3_cAC"></gmpx-api-loader>
																												{{ form_row(registrationForm.adress, {'attr': {'class': 'form-control-login'}}) }}
																												<div id="additional-fields" style="display: none;">
																													{{ form_row(registrationForm.postalCode, {'attr': {'class': 'form-control-login'}}) }}
																													{{ form_row(registrationForm.city, {'attr': {'class': 'form-control-login'}}) }}
																												</div> #}
						</div>
					</div>
					<div class="text-center mt-4">
						<span class="text-muted d-flex">
							{{ form_row(registrationForm.agreeTerms, {
								label : 'En m\'inscrivant à ce site, j\'accepte les <a href="'~path('app_home')~'">conditions générales d\'utilisation</a>',
								label_html: true
							}) }}
						</span>
					</div>
                    <button id="submit-button" type="submit" class="btn btn-md btn-dark" disabled>
						<span>S'enregistrer</span>
					</button>
                    {{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
