{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}
	<section class="legal">
		<div class="container-legal">
			<div class="text-start">
				<header>
					<h2 class="title-legal">
						Politique de confidentialité et conditions d'utilisation
					</h2>
				</header>
				<div class="content-legal">
					<div class="align-baseline">
						<strong>Définitions<br></strong>
						<br>
					</div>
					<div class="align-baseline">
						<strong>Client :
						</strong>tout professionnel ou personne physique capable au sens des articles 1123 et suivants du
											Code civil, ou personne morale, qui visite le Site objet des présentes conditions générales.
					</div>
					<div class="align-baseline">
						<strong>Services :
						</strong>Ensemble des éléments constituants l'information présente sur le Site, notamment textes -
											images - vidéos.
					</div>
					<div class="align-baseline">
						<strong>Utilisateur :
						</strong>Internaute se connectant, utilisant le site susnommé.
					</div>
					<div class="align-baseline">
						<strong>Informations personnelles :
						</strong>« Les informations qui permettent, sous quelque forme que ce soit, directement ou non,
											l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n°
											78-17 du 6 janvier 1978).
						<br>
						Les termes « données à caractère personnel », « personne concernée », « sous traitant » et « données
											sensibles » ont le sens défini par le Règlement Général sur la Protection des Données (RGPD : n°
											2016-679).
					</div>
					<div class="align-baseline">
						<br>
						<strong>1) Acceptation des conditions.<br></strong>
						<br>
					</div>
					<div class="align-baseline">
						Le Site constitue une œuvre de l'esprit protégée par les dispositions du Code de la Propriété
											Intellectuelle et des Réglementations Internationales applicables. Le Client ne peut en aucune
											manière réutiliser, céder ou exploiter pour son propre compte tout ou partie des éléments ou travaux
											du Site.
						<br>
						L'utilisation du site
						<a href="{{ company.url }}">{{ company.url }}</a>
						implique l'acceptation pleine et entière des conditions générales d'utilisation ci-après décrites.
											Ces conditions d'utilisation sont susceptibles d'être modifiées ou complétées à tout moment, les
											utilisateurs du site
						<a href="{{ company.url }}">{{ company.url }}</a>
						sont donc invités à les consulter de manière régulière.
						<br>
						Ce site internet est normalement accessible à tout moment aux utilisateurs. Une interruption pour
											raison de maintenance technique peut être toutefois décidée par
						<a href="{{ company.url }}">{{ company.url }}</a>, qui s'efforcera alors de
												communiquer préalablement aux utilisateurs les dates et heures de l'intervention. Le site web
						<a href="{{ company.url }}">{{ company.url }}</a>
						est mis à jour régulièrement par
						<a href="{{ company.url }}">{{ company.url }}</a>
						responsable. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles
											s'imposent néanmoins à l'utilisateur qui est invité à s'y référer le plus souvent possible afin d'en
											prendre connaissance.
					</div>
					<div class="align-baseline">
						<br>
						<strong>2) Inscription.<br></strong>
						<br>
					</div>
					<div class="align-baseline">
						Pour utiliser les Services, vous devez créer un compte sur les Services (un « Compte »). Vous devez
											fournir des informations exactes et complètes et maintenir les informations de votre compte à jour.
											Vous ne devez pas :
						<br>
						(i) sélectionner ou utiliser comme nom d'utilisateur le nom d'une autre personne dans le but de
											usurper l'identité de cette personne ; (ii) utiliser comme nom d'utilisateur un nom soumis aux
											droits d'une personne autre que vous sans autorisation appropriée ; ou (iii) utiliser, comme nom
											d'utilisateur, un nom autrement offensant, vulgaire ou obscène. Vous êtes seul responsable de
											l'activité qui se produit sur votre compte et de la sécurité du mot de passe de votre compte. Vous
											ne pouvez jamais utiliser le compte utilisateur ou les informations d'inscription d'une autre
											personne pour les Services sans autorisation.
						<br>
						Vous devez nous informer immédiatement de tout changement dans votre éligibilité à utiliser les
											Services, de violation de la sécurité ou d'utilisation non autorisée de votre compte. Vous ne devez
											jamais publier, distribuer ou publier des informations de connexion pour votre compte. Vous avez la
											possibilité de supprimer votre compte, soit directement, soit par le biais d'une demande adressée au
											Site.
					</div>
					<div class="align-baseline">
						<br>
						<strong>3) Contenu.<br></strong>
						<br>
					</div>
					<div class="align-baseline">
						<ol>
							<li>
								<strong>Définition.</strong>
								Aux fins des présentes Conditions d'utilisation, le terme « Contenu » inclut, sans
															limitation, les informations, les données, les textes, les photographies, les vidéos, les
															clips audio, les articles et commentaires écrits, les logiciels, les scripts, les graphiques
															et les fonctionnalités interactives générés, fournis ou autrement rendu accessible sur ou
															via les Services. Aux fins du présent Contrat, le « Contenu » inclut également tout le
															Contenu utilisateur (tel que défini ci-dessous).
							</li>
							<li>
								<strong>Contenu utilisateur.</strong>
								Le Site ne sera pas responsable de tout contenu ajouté, créé, téléchargé, soumis, distribué
															ou publié sur les services par les utilisateurs (collectivement « contenu utilisateur »),
															qu'il soit publié publiquement ou transmis en privé. Vous déclarez que tout le contenu
															utilisateur que vous fournissez est exact, complet, à jour et conforme à toutes les lois,
															règles et réglementations applicables. Vous reconnaissez que tout le contenu, y compris le
															contenu utilisateur, auquel vous accédez en utilisant les services est à vos propres risques
															et que vous serez seul responsable de tout dommage ou perte pour vous ou toute autre partie
															en résultant. Nous ne garantissons pas que tout contenu auquel vous accédez sur ou via les
															services est ou continuera d'être exact.
							</li>
						</ol>
					</div>
					<div class="align-baseline">
						<br>
						<strong>4) Limitations contractuelles sur les données techniques.<br></strong>
						<br>
					</div>
					<div class="align-baseline">
						Le site utilise la technologie JavaScript. Le site Internet ne pourra être tenu responsable de
											dommages matériels liés à l'utilisation du site. De plus, l'utilisateur du site s'engage à accéder
											au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière
											génération mis-à-jour Le site
						<a href="{{ company.url }}">{{ company.url }}</a>
						est hébergé chez un prestataire sur le territoire de l'Union Européenne conformément aux
											dispositions du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).
						<br>
						L'objectif est d'apporter une prestation qui assure le meilleur taux d'accessibilité. L'hébergeur
											assure la continuité de son service 24 Heures sur 24, tous les jours de l'année. Il se réserve
											néanmoins la possibilité d'interrompre le service d'hébergement pour les durées les plus courtes
											possibles notamment à des fins de maintenance, d'amélioration de ses infrastructures, de défaillance
											de ses infrastructures ou si les Prestations et Services génèrent un trafic réputé anormal.
						<br>
						<a href="{{ company.url }}">{{ company.url }}</a>
						et l'hébergeur ne pourront être tenus responsables en cas de dysfonctionnement du réseau Internet,
											des lignes téléphoniques ou du matériel informatique et de téléphonie lié notamment à l'encombrement
											du réseau empêchant l'accès au serveur.
					</div>
					<div class="align-baseline">
						<br>
						<strong>5) Propriété intellectuelle et contrefaçons.<br></strong>
						<br>
					</div>
					<div class="align-baseline">
						<a href="{{ company.url }}">{{ company.url }}</a>
						est propriétaire des droits de propriété intellectuelle et détient les droits d'usage sur tous les
											éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos,
											icônes et sons. Toute reproduction, représentation, modification, publication, adaptation de tout ou
											partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf
											autorisation écrite préalable de :
						<a href="{{ company.url }}">{{ company.url }}</a>.
						<br>
						Toute exploitation non autorisée du site ou de l'un quelconque des éléments qu'il contient sera
											considérée comme constitutive d'une contrefaçon et poursuivie conformément aux dispositions des
											articles L.335-2 et suivants du Code de Propriété Intellectuelle.
					</div>
					<div class="align-baseline">
						<br>
						<strong>6) Limitations de responsabilité.<br></strong>
						<br>
					</div>
					<div class="align-baseline">
						<a href="{{ company.url }}">{{ company.url }}</a>
						agit en tant qu'éditeur du site.
						<a href="{{ company.url }}">{{ company.url }}</a>
						est responsable de la qualité et de la véracité du Contenu qu'il publie.
						<br>
						<a href="{{ company.url }}">{{ company.url }}</a>
						ne pourra être tenu responsable des dommages directs et indirects causés au matériel de
											l'utilisateur, lors de l'accès au site internet
						<a href="{{ company.url }}">{{ company.url }}</a>, et résultant soit de
												l'utilisation d'un matériel ne répondant pas aux spécifications indiquées au point 4, soit de
												l'apparition d'un bug ou d'une incompatibilité.
						<br>
						<a href="{{ company.url }}">{{ company.url }}</a>
						ne pourra également être tenu responsable des dommages indirects (tels par exemple qu'une perte de
											marché ou perte d'une chance) consécutifs à l'utilisation du site
						<a href="{{ company.url }}">{{ company.url }}</a>. Des espaces interactifs
												(possibilité de poser des questions dans l'espace commentaires) sont à la disposition des
												utilisateurs.
						<a href="{{ company.url }}">{{ company.url }}</a>
						se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet
											espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions
											relatives à la protection des données. Le cas échéant,
						<a href="{{ company.url }}">{{ company.url }}</a>
						se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de
											l'utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou
											pornographique, quel que soit le support utilisé (texte, photographie …).
					</div>
					<div class="align-baseline">
						<br>
						<strong>7) Paiements et facturation.<br></strong>
						<br>
					</div>
					<div class="align-baseline">
						<ol>
							<li>
								<strong>Services payants.
								</strong>Certains de nos Services peuvent être soumis à des paiements maintenant ou dans le
															futur (les « Services payants »). Veuillez noter que toutes les conditions de paiement qui
															vous sont présentées lors du processus d'utilisation ou d'inscription à un service payant
															sont considérées comme faisant partie du présent accord.
							</li>
							<li>
								<strong>Facturation.
								</strong>Nous utilisons un processeur de paiement tiers (le « Processeur de paiement ») pour
															vous facturer via un compte de paiement lié à votre Compte sur les Services (votre « Compte
															de facturation ») pour l'utilisation des Services payants. Le traitement des paiements sera
															soumis aux termes, conditions et politiques de confidentialité du processeur de paiement en
															plus des présentes conditions de service. Nous ne sommes pas responsables des erreurs du
															processeur de paiement. En choisissant d'utiliser les Services payants, vous acceptez de
															nous payer, via le Processeur de paiement, tous les frais aux prix alors en vigueur pour
															toute utilisation de ces Services payants conformément aux conditions de paiement
															applicables et vous nous autorisez, via le Processeur de paiement, pour facturer le
															fournisseur de paiement que vous avez choisi (votre « Mode de paiement »). Vous acceptez
															d'effectuer le paiement en utilisant le mode de paiement sélectionné.
							</li>
							<li>
								<strong>Mode de paiement.
								</strong>Les conditions de votre paiement seront basées sur votre méthode de paiement et
															peuvent être déterminées par des accords entre vous et l'institution financière, l'émetteur
															de la carte de crédit ou tout autre fournisseur de la méthode de paiement que vous avez
															choisie. Si nous, via le processeur de paiement, ne recevons pas de paiement de votre part,
															vous acceptez de payer tous les montants dus sur votre compte de facturation sur demande.
							</li>
							<li>
								<strong>Essais gratuits et autres promotions.
								</strong>Tout essai gratuit ou autre promotion donnant accès à un service payant doit être
															utilisé pendant la durée spécifiée de l'essai. Vous devez cesser d'utiliser un service
															payant avant la fin de la période d'essai afin d'éviter d'être facturé pour ce service
															payant.
							</li>
							<li>
								<strong>Rétractation.
								</strong>En vertu de l'article L121-20 du Code de la consommation, le Client dispose d'un
															délai de quatorze jours ouvrables à compter de la livraison de sa commande pour exercer son
															droit de rétractation et ainsi faire retour du Service au Site pour échange ou remboursement
															sans pénalité, à l'exception des frais de retour.
							</li>
						</ol>
					</div>
					<div class="align-baseline">
						<br>
						<strong>8) Gestion des données personnelles.<br></strong>
						<br>
						Le Client est informé des réglementations concernant la communication marketing, la loi du 21 Juin
											2014 pour la confiance dans l'Economie Numérique, la Loi Informatique et Liberté du 06 Août 2004
											ainsi que du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).
						<br>
						<br>
					</div>
					<div class="align-baseline">
						<ol>
							<li>
								<strong>Responsables de la collecte des données personnelles.
								</strong>Pour les Données Personnelles collectées dans le cadre de la création du compte
															personnel de l'Utilisateur et de sa navigation sur le Site, le responsable du traitement des
															Données Personnelles est :
								{{ company.name }}.
								<a href="{{ company.url }}">{{ company.url }}</a>
								est représenté par
								{{ company.manager }}, son représentant légal
								<br>
								En tant que responsable du traitement des données qu'il collecte,
								<a href="{{ company.url }}">{{ company.url }}</a>
								s'engage à respecter le cadre des dispositions légales en vigueur. Il lui appartient
															notamment au Client d'établir les finalités de ses traitements de données, de fournir à ses
															prospects et clients, à partir de la collecte de leurs consentements, une information
															complète sur le traitement de leurs données personnelles et de maintenir un registre des
															traitements conforme à la réalité. Chaque fois que
								<a href="{{ company.url }}">{{ company.url }}</a>
								traite des Données Personnelles,
								<a href="{{ company.url }}">{{ company.url }}</a>
								prend toutes les mesures raisonnables pour s'assurer de l'exactitude et de la pertinence des
															Données Personnelles au regard des finalités pour lesquelles
								<a href="{{ company.url }}">{{ company.url }}</a>
								les traite.
							</li>
							<li>
								<strong>Finalité des données collectées.
								</strong>
								<a href="{{ company.url }}">{{ company.url }}</a>
								est susceptible de traiter tout ou partie des données :
								<ul>
									<li>
										pour permettre la navigation sur le Site et la gestion et la traçabilité des
																			prestations et services commandés par l'utilisateur : données de connexion et
																			d'utilisation du Site, facturation, historique des commandes, etc.
									</li>
									<li>
										pour prévenir et lutter contre la fraude informatique (spamming, hacking…) :
																			matériel informatique utilisé pour la navigation, l'adresse IP, le mot de passe
																			(hashé)
									</li>
									<li>
										pour améliorer la navigation sur le Site : données de connexion et d'utilisation
									</li>
									<li>
										pour mener des enquêtes de satisfaction facultatives sur
										<a href="{{ company.url }}">{{ company.url }}</a>
										: adresse email
									</li>
									<li>
										pour mener des campagnes de communication (sms, mail) : numéro de téléphone, adresse
																			email
									</li>
									<li>
										Afin de collecter les paiements en votre nom et de vous fournir des paiements, nous,
																			en utilisant Stripe comme processeur de paiement tiers, collectons des informations
																			de paiement auprès de vous. Ces informations sont utilisées uniquement pour
																			collecter et fournir des paiements liés aux Services et sont uniquement stockées par
																			Stripe.
									</li>
								</ul>
								<a href="{{ company.url }}">{{ company.url }}</a>
								ne commercialise pas vos données personnelles qui sont donc uniquement utilisées par
															nécessité ou à des fins statistiques et d'analyses.
							</li>
							<li>
								<strong>Droit d'accès, de rectification et d'opposition.
								</strong>Conformément à la réglementation européenne en vigueur, les Utilisateurs de
								<a href="{{ company.url }}">{{ company.url }}</a>
								disposent des droits suivants :
								<ul>
									<li>
										droit d'accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à
																			jour, de complétude des données des Utilisateurs droit de verrouillage ou
																			d'effacement des données des Utilisateurs à caractère personnel (article 17 du
																			RGPD), lorsqu'elles sont inexactes, incomplètes, équivoques, périmées, ou dont la
																			collecte, l'utilisation, la communication ou la conservation est interdite
									</li>
									<li>
										droit de retirer à tout moment un consentement (article 13-2c RGPD)
									</li>
									<li>
										droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD)
									</li>
									<li>
										droit d'opposition au traitement des données des Utilisateurs (article 21 RGPD)
									</li>
									<li>
										droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces
																			données font l'objet de traitements automatisés fondés sur leur consentement ou sur
																			un contrat (article 20 RGPD)
									</li>
									<li>
										droit de définir le sort des données des Utilisateurs après leur mort et de choisir
																			à qui
										<a href="{{ company.url }}">{{ company.url }}</a>
										devra communiquer (ou non) ses données à un tiers qu'ils aura préalablement désigné
									</li>
								</ul>
								Dès que
								<a href="{{ company.url }}">{{ company.url }}</a>
								a connaissance du décès d'un Utilisateur et à défaut d'instructions de sa part,
								<a href="{{ company.url }}">{{ company.url }}</a>
								s'engage à détruire ses données, sauf si leur conservation s'avère nécessaire à des fins
															probatoires ou pour répondre à une obligation légale.
								<br>
								Si l'Utilisateur souhaite savoir comment
								<a href="{{ company.url }}">{{ company.url }}</a>
								utilise ses Données Personnelles, demander à les rectifier ou s'oppose à leur traitement,
															l'Utilisateur peut contacter
								<a href="{{ company.url }}">{{ company.url }}</a>
								par écrit à l'adresse suivante :
								<br>
								{{ company.name }}
								{{ company.adress}},
								{{ company.postalCode }}
								{{ company.city | upper }}.
															Dans ce cas, l'Utilisateur doit indiquer les Données Personnelles qu'il souhaiterait que
								<a href="{{ company.url }}">{{ company.url }}</a>
								corrige, mette à jour ou supprime, en s'identifiant précisément avec une copie d'une pièce
															d'identité (carte d'identité ou passeport).
								<br>
								Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont
															imposées à
								<a href="{{ company.url }}">{{ company.url }}</a>
								par la loi, notamment en matière de conservation ou d'archivage des documents. Enfin, les
															Utilisateurs de
								<a href="{{ company.url }}">{{ company.url }}</a>
								peuvent déposer une réclamation auprès des autorités de contrôle, et notamment de la CNIL
															(https://www.cnil.fr/fr/plaintes).
							</li>
							<li>
								<strong>Non-communication des données personnelles.
								</strong>
								<a href="{{ company.url }}">{{ company.url }}</a>
								s'interdit de traiter, héberger ou transférer les Informations collectées sur ses Clients
															vers un pays situé en dehors de l'Union européenne ou reconnu comme « non adéquat » par la
															Commission européenne sans en informer préalablement le client. Pour autant,
								<a href="{{ company.url }}">{{ company.url }}</a>
								reste libre du choix de ses sous-traitants techniques et commerciaux à la condition qu'il
															présentent les garanties suffisantes au regard des exigences du Règlement Général sur la
															Protection des Données (RGPD : n° 2016-679).
								<br>
								<a href="{{ company.url }}">{{ company.url }}</a>
								s'engage à prendre toutes les précautions nécessaires afin de préserver la sécurité des
															Informations et notamment qu'elles ne soient pas communiquées à des personnes non
															autorisées. Cependant, si un incident impactant l'intégrité ou la confidentialité des
															Informations du Client est portée à la connaissance de
								<a href="{{ company.url }}">{{ company.url }}</a>, celle-ci devra dans les
																meilleurs délais informer le Client et lui communiquer les mesures de corrections prises.
																Par ailleurs
								<a href="{{ company.url }}">{{ company.url }}</a>
								ne collecte aucune « données sensibles ».
								<br>
								Les Données Personnelles de l'Utilisateur peuvent être traitées par des filiales de
								<a href="{{ company.url }}">{{ company.url }}</a>
								et des sous-traitants (prestataires de services), exclusivement afin de réaliser les
															finalités de la présente politique.
								<br>
								Dans la limite de leurs attributions respectives et pour les finalités rappelées ci-dessus,
															les principales personnes susceptibles d'avoir accès aux données des Utilisateurs de
								<a href="{{ company.url }}">{{ company.url }}</a>
								sont principalement les agents de notre service client.
							</li>
						</ol>
					</div>
					<div class="align-baseline">
						<br>
						<strong>9) Notification d'incident.<br></strong>
						<br>
					</div>
					<div class="align-baseline">
						Quels que soient les efforts fournis, aucune méthode de transmission sur Internet et aucune méthode
											de stockage électronique n'est complètement sûre. Nous ne pouvons en conséquence pas garantir une
											sécurité absolue. Si nous prenions connaissance d'une brèche de la sécurité, nous avertirions les
											utilisateurs concernés afin qu'ils puissent prendre les mesures appropriées. Nos procédures de
											notification d'incident tiennent compte de nos obligations légales, qu'elles se situent au niveau
											national ou européen. Nous nous engageons à informer pleinement nos clients de toutes les questions
											relevant de la sécurité de leur compte et à leur fournir toutes les informations nécessaires pour
											les aider à respecter leurs propres obligations réglementaires en matière de reporting.
						<br>
						Aucune information personnelle de l'utilisateur du site
						<a href="{{ company.url }}">{{ company.url }}</a>
						n'est publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support
											quelconque à des tiers. Seule l'hypothèse du rachat de
						<a href="{{ company.url }}">{{ company.url }}</a>
						et de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur qui
											serait à son tour tenu de la même obligation de conservation et de modification des données vis à
											vis de l'utilisateur du site
						<a href="{{ company.url }}">{{ company.url }}</a>.
					</div>
					<div class="align-baseline">
						<br>
						<strong>10) Sécurité.<br></strong>
						<br>
					</div>
					<div class="align-baseline">
						Pour assurer la sécurité et la confidentialité des Données Personnelles et des Données Personnelles
											de Santé,
						<a href="{{ company.url }}">{{ company.url }}</a>
						utilise des réseaux
											protégés par des dispositifs standards tels que par pare-feu, la pseudonymisation, l'encryption et
											mot de passe.
						<br>
						Lors du traitement des Données Personnelles,
						<a href="{{ company.url }}">{{ company.url }}</a>prend toutes les mesures
												raisonnables visant à les protéger contre toute perte, utilisation détournée, accès non autorisé,
												divulgation, altération ou destruction.
					</div>
					<div class="align-baseline">
						<br>
						<strong>11) Liens hypertextes « cookies » et balises ("tags") internet.<br></strong>
						<br>
					</div>
					<div class="align-baseline">
						Le site
						<a href="{{ company.url }}">{{ company.url }}</a>
						contient un certain nombre
											de liens hypertextes vers d'autres sites, mis en place avec l'autorisation de
						<a href="{{ company.url }}">{{ company.url }}</a>. Cependant,
						<a href="{{ company.url }}">{{ company.url }}</a>
						n'a pas la possibilité de
											vérifier le contenu des sites ainsi visités, et n'assumera en conséquence aucune responsabilité de
											ce fait.
						<br>
						Sauf si vous décidez de désactiver les cookies, vous acceptez que le site puisse les utiliser. Vous
											pouvez à tout moment désactiver ces cookies et ce gratuitement à partir des possibilités de
											désactivation qui vous sont offertes et rappelées ci-après, sachant que cela peut réduire ou
											empêcher l'accessibilité à tout ou partie des Services proposés par le site.
					</div>
					<div class="align-baseline">
						<br>
						<ol>
							<li>
								<strong>« COOKIES »</strong>
								<br>
								Un « cookie » est un petit fichier d'information envoyé sur le navigateur de l'Utilisateur
															et enregistré au sein du terminal de l'Utilisateur (ex : ordinateur, smartphone), (ci-après
															« Cookies »). Ce fichier comprend des informations telles que le nom de domaine de
															l'Utilisateur, le fournisseur d'accès Internet de l'Utilisateur, le système d'exploitation
															de l'Utilisateur, ainsi que la date et l'heure d'accès. Les Cookies ne risquent en aucun cas
															d'endommager le terminal de l'Utilisateur.
								<br>
								<a href="{{ company.url }}">{{ company.url }}</a>
								est susceptible de traiter
															les informations de l'Utilisateur concernant sa visite du Site, telles que les pages
															consultées, les recherches effectuées. Ces informations permettent à
								<a href="{{ company.url }}">{{ company.url }}</a>
								d'améliorer le contenu du
															Site, de la navigation de l'Utilisateur.
								<br>
								Les Cookies facilitant la navigation et/ou la fourniture des services proposés par le Site,
															l'Utilisateur peut configurer son navigateur pour qu'il lui permette de décider s'il
															souhaite ou non les accepter de manière à ce que des Cookies soient enregistrés dans le
															terminal ou, au contraire, qu'ils soient rejetés, soit systématiquement, soit selon leur
															émetteur. L'Utilisateur peut également configurer son logiciel de navigation de manière à ce
															que l'acceptation ou le refus des Cookies lui soient proposés ponctuellement, avant qu'un
															Cookie soit susceptible d'être enregistré dans son terminal.
								<a href="{{ company.url }}">{{ company.url }}</a>
								informe l'Utilisateur
															que, dans ce cas, il se peut que les fonctionnalités de son logiciel de navigation ne soient
															pas toutes disponibles.
								<br>
								Si l'Utilisateur refuse l'enregistrement de Cookies dans son terminal ou son navigateur, ou
															si l'Utilisateur supprime ceux qui y sont enregistrés, l'Utilisateur est informé que sa
															navigation et son expérience sur le Site peuvent être limitées. Cela pourrait également être
															le cas lorsque
								<a href="{{ company.url }}">{{ company.url }}</a>
								ou l'un de
															ses prestataires ne peut pas reconnaître, à des fins de compatibilité technique, le type de
															navigateur utilisé par le terminal, les paramètres de langue et d'affichage ou le pays
															depuis lequel le terminal semble connecté à Internet.
								<br>
								Le cas échéant,
								<a href="{{ company.url }}">{{ company.url }}</a>
								décline
															toute responsabilité pour les conséquences liées au fonctionnement dégradé du Site et des
															services éventuellement proposés par
								<a href="{{ company.url }}">{{ company.url }}</a>, résultant (i) du refus
																de Cookies par l'Utilisateur (ii) de l'impossibilité pour
								<a href="{{ company.url }}">{{ company.url }}</a>
								d'enregistrer ou de
															consulter les Cookies nécessaires à leur fonctionnement du fait du choix de l'Utilisateur.
															Pour la gestion des Cookies et des choix de l'Utilisateur, la configuration de chaque
															navigateur est différente. Elle est décrite dans le menu d'aide du navigateur, qui permettra
															de savoir de quelle manière l'Utilisateur peut modifier ses souhaits en matière de Cookies.
								<br>
								À tout moment, l'Utilisateur peut faire le choix d'exprimer et de modifier ses souhaits en
															matière de Cookies.
								<a href="{{ company.url }}">{{ company.url }}</a>
								pourra
															en outre faire appel aux services de prestataires externes pour l'aider à recueillir et
															traiter les informations décrites dans cette section.
								<br>
								Enfin, en cliquant sur les icônes dédiées aux réseaux sociaux Twitter, Facebook, Linkedin et
															Google Plus figurant sur le Site de
								<a href="{{ company.url }}">{{ company.url }}</a>
								ou dans son application
															mobile et si l'Utilisateur a accepté le dépôt de cookies en poursuivant sa navigation sur le
															Site Internet ou l'application mobile de
								<a href="{{ company.url }}">{{ company.url }}</a>, Twitter, Facebook,
																Linkedin et Google Plus peuvent également déposer des cookies sur vos terminaux (ordinateur,
																tablette, téléphone portable).
								<br>
								Ces types de cookies ne sont déposés sur vos terminaux qu'à condition que vous y consentiez,
															en continuant votre navigation sur le Site Internet ou l'application mobile de
								<a href="{{ company.url }}">{{ company.url }}</a>. À tout moment,
																l'Utilisateur peut néanmoins revenir sur son consentement à ce que
								<a href="{{ company.url }}">{{ company.url }}</a>
								dépose ce type de
															cookies.
							</li>
							<li>
								<strong>BALISES ("TAGS") INTERNET</strong>
								<br>
								<a href="{{ company.url }}">{{ company.url }}</a>
								peut employer
															occasionnellement des balises Internet (également appelées « tags », ou balises d'action,
															GIF à un pixel, GIF transparents, GIF invisibles et GIF un à un) et les déployer par
															l'intermédiaire d'un partenaire spécialiste d'analyses Web susceptible de se trouver (et
															donc de stocker les informations correspondantes, y compris l'adresse IP de l'Utilisateur)
															dans un pays étranger.
								<br>
								Ces balises sont placées à la fois dans les publicités en ligne permettant aux internautes
															d'accéder au Site, et sur les différentes pages de celui-ci.
								<br>
								Cette technologie permet à
								<a href="{{ company.url }}">{{ company.url }}</a>
								d'évaluer les réponses des visiteurs face au Site et l'efficacité de ses actions (par
															exemple, le nombre de fois où une page est ouverte et les informations consultées), ainsi
															que l'utilisation de ce Site par l'Utilisateur.
								<br>
								Le prestataire externe pourra éventuellement recueillir des informations sur les visiteurs
															du Site et d'autres sites Internet grâce à ces balises, constituer des rapports sur
															l'activité du Site à l'attention de
								<a href="{{ company.url }}">{{ company.url }}</a>, et fournir d'autres
																services relatifs à l'utilisation de celui-ci et d'Internet.
							</li>
						</ol>
					</div>
					<div class="align-baseline">
						<br>
						<strong>12) Droit applicable et attribution de juridiction.<br></strong>
						<br>
					</div>
					<div class="align-baseline">
						Tout litige en relation avec l'utilisation du site
						<a href="{{ company.url }}">{{ company.url }}</a>
						est soumis au droit français. En
											dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux
											tribunaux compétents de PARIS
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include "shared/_footer.html.twig" %}
{% endblock %}
