{% extends 'base.html.twig' %}

{% block title %}Modifier un trajet
{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="mb-4">Modification du trajet</h1>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_errors(form) }}
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.departureAddress, { attr: {'data-controller': 'address-formatter'} }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.arrivalAddress, { attr: {'data-controller': 'address-formatter'} }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.departureDate) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.departureTime) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.arrivalDate) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.arrivalTime) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.seatsAvailable) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.pricePerPerson) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.status) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.car) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
        {{ form_end(form) }}
    </div>
{% endblock %}