{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}
	<div class="container mt-4">
		<h1>Bienvenue sur l'espace administration</h1>
		<p>
			Bonjour
			{{ app.user.firstname }}
			{{ app.user.lastname }}<br>
			{% if 'ROLE_ADMIN' in app.user.roles %}
				<strong>Vous êtes connecté en tant qu'administrateur.</strong>
			{% elseif 'ROLE_EMPLOYE' in app.user.roles %}
				<strong>Vous êtes connecté en tant qu'employé.</strong>
			{% endif %}
		</p>

		{% if 'ROLE_ADMIN' in app.user.roles %}
			<div class="row">
				<div class="col-md-12">
					<h3>Statistiques & Graphiques</h3>
					<div class="row">
						<div class="col-md-6 mb-4">
							<h4>Covoiturages effectués par jour</h4>
							{{ render_chart(chartTrips) }}
						</div>
						<div class="col-md-6 mb-4">
							<h4>Crédits gagnés par la plateforme</h4>
							{{ render_chart(chartCredits) }}
						</div>
					</div>
					<div class="mb-3">
						<strong>Total des crédits gagnés :</strong>
						{{ totalCredits|default(0) }}
					</div>
				</div>
				<div class="col-md-12">
					<h3>Gestion des comptes</h3>
					<ul>
						<li><a href="{{path('admin_user_index')}}" class="text-decoration-none">Gérer les utilisateurs</a></li>
						<li><a href="{{path('admin_user_index')}}" class="text-decoration-none">Suspendre un compte</a></li>
					</ul>
				</div>
			</div>
		{% elseif 'ROLE_EMPLOYE' in app.user.roles %}
			<div>
				<h3>À traiter</h3>
				<ul>
					<li>
						<a href="{{ path('admin_testimonial_index') }}" class="text-decoration-none">Valider ou refuser les avis</a>
					</li>
				</ul>
				<h3>Covoiturages signalés</h3>
				{% if openComplaints is not empty %}
					<table class="table">
						<thead>
							<tr>
								<th>N°</th>
								<th>Passager</th>
								<th>Conducteur</th>
								<th>Date</th>
								<th>Type</th>
								<th>Voir</th>
							</tr>
						</thead>
						<tbody>
							{% for complaint in openComplaints %}
								<tr>
									<td>{{ complaint.tripPassenger.trip.id }}</td>
									<td>{{ complaint.tripPassenger.user.fullName }}</td>
									<td>{{ complaint.tripPassenger.trip.driver.fullName }}</td>
									<td>{{ complaint.createdAt|date('d/m/Y') }}</td>
									<td>{{ complaint.type.label() }}</td>
									<td>
										<a href="{{ path('admin_complaint_edit', {entityId: complaint.id}) }}" class="btn btn-sm btn-primary">
											Gérer
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>Aucune réclamation en attente.</p>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block importmap %}
    {{ importmap('app') }}
{% endblock %}