{{ form_start(form, {
    'attr': {
        'action': action ?? app.request.uri,
        'class': 'uttdbc',
        'data-controller': 'ajax-form',
        'data-action': 'submit->ajax-form#submit'
    }
}) }}
<div class="uj6zfe">
    <h1 class="jqy9ue186 jqy9ue19z jqy9ue1ae jqy9ue18v jqy9ue19a jqy9ue19f jqy9uen7 jqy9ue24y jqy9ue16x jqy9ue1mr jqy9ue1tk jqy9ue1p9 jqy9ue1r7 jqy9ue1uy jqy9ue22g jqy9ue1xg jqy9ue1zy jqy9ue1al jqy9ue1my jqy9ue1tm jqy9ue1pb jqy9ue1r9 jqy9ue7">
        <span class="_2ywtvb0">Cigarette</span>
    </h1>
</div>
<ul class="uvu0wh">
    {% for choice in form.smoking %}
        <li>
            <label class="qvzsc4" style="cursor:pointer;">
                <span class="hbm2rt">
                    <span class="iby4p2">
                        <span class="ocwi3w">
                            <input type="radio" id="{{ choice.vars.id }}" name="{{ choice.vars.full_name }}" value="{{ choice.vars.value }}" class="bt02zi" {% if choice.vars.checked %} checked="checked" {% endif %} {% if choice.vars.required %} required="required" {% endif %}/>
                            <span class="wmk1vv">
                                <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w9swoz ejccx3jq ejccx3f ejccx3jq ejccx33m">
                                    <g color="accentTxtDefault">
                                        <g color="currentColor">
                                            <path fill="currentColor" fill-rule="evenodd" d="M4 12a8 8 0 1 1 16 0 8 8 0 0 1-16 0m8-10C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2m5 10a5 5 0 1 1-10 0 5 5 0 0 1 10 0" clip-rule="evenodd"></path>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <span class="hohih3">
                                <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w9swoz ejccx3jq ejccx3f ejccx3jq ejccx33m">
                                    <g color="accentTxtDefault">
                                        <g color="currentColor">
                                            <path fill="currentColor" fill-rule="evenodd" d="M12 4a8 8 0 1 0 0 16 8 8 0 0 0 0-16M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12" clip-rule="evenodd"></path>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </span>
                        <span class="eaq4i0">
                            <span class="c9t0j3">
                                {{ choice.vars.label|raw }}
                            </span>
                        </span>
                        <span class="r9ps9k">
                            {{ choice.vars.attr['data-icon'] }}
                        </span>
                    </span>
                </span>
            </label>
        </li>
    {% endfor %}
</ul>
{{ form_widget(form._token) }}

<div class="va32i1">
    <button type="submit" class="dewr8o awjoi4">
        <span class="j8yvlk">
            <span>Enregistrer</span>
        </span>
    </button>
    <button type="button" class="btn btn-link" data-action="click->travel-preference#reloadRecap">Annuler</button>
</div>

{{ form_end(form, { render_rest: false }) }}