{% extends 'base.html.twig' %}

{% block title %}Ils nous font confiance
{% endblock %}

{% block body %}
	<div class="fqis5s">
		<div class="rt6iz6">
			<article class="xpshe4">
			{% if testimonials|length > 0 %}				
				<h1 class="u3p91c">
					<span class="wqmea2">Avis</span>
				</h1>
				<div class="v4bp0l">
					<div class="d-flex flex-column w-100">
						<div class="x9hlg6">
							<h1 class="hpipapi">
								<div class="_1b0tbcn">
									<div class="_f0hro">
										<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 32px; width: 32px; fill: currentcolor;">
											<path fill-rule="evenodd" d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"></path>
										</svg>
									</div>
									<div aria-hidden="true">{{ avgRating|number_format(1, ',', ',') }}</div>
									<div class="r6wb0z">{{ totalCount }}
										avis</div>
								</div>
							</h1>
						</div>
						<div class="rd0ps7t">
							<section>
								<h2 class="hpipapi">
									<div class="t1cxoyq9">Évaluation globale</div>
								</h2>
							</section>
							<div class="progress-ratings">
								<div class="sb22yh96">
									{% for i in 5..1 %}
										{% set percentage = percentages[i]|default(0) %}
										<div class="r19nw222">
											<div class="r4e9rlv">{{ i }}</div>
											<div class="progress o1i2s4be" role="progressbar" aria-label="Rating {{ i }}" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100">
												<div class="progress-bar i5cdxym" style="width: {{ percentage }}%"></div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<ul class="uvu0wh">
						{% for testimonial in testimonials %}
							<li>
								<div class="cwp2rx">
									<span class="cjmeit">
										<span class="zmk3k1">
											<span class="kimxj8">
												<img src="{{ vich_uploader_asset(testimonial.author.avatar, 'imageFile') }}" alt="Image de profil" class="nuyqab">
											</span>
										</span>
										<span class="p88o4h">
											<span class="text-start ud3coz">{{ testimonial.author.firstname }}</span>
										</span>
									</span>
								</div>
								<blockquote class="lesxnl">
									<div class="scdlkj">
										<h2 class="lewpe8">
											{% include "partials/_rating.html.twig" with {'rating': testimonial.rating } %}
										</h2>
										<p class="yyoraa">
											{{ testimonial.content | raw | nl2br }}
										</p>
									</div>
									<div class="gt2w2q">
										<span class="yyoraa">{{ testimonial.createdAt|format_datetime(pattern='LLLL yyyy', locale='fr') }}</span>
									</div>
								</blockquote>
								<div class="y1j3ri">
									<hr class="wntyvr">
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				{% include "testimonial/_no_testimonials.html.twig" %}
			{% endif %}
			</article>
		</div>
	</div>
	{% include "shared/_footer_second.html.twig" %}
{% endblock %}