{% extends 'base.html.twig' %}

{% block title %}
    Création du véhicule
{% endblock %}

{% block body %}
    <div class="container pt-5">
        <div class="card card-fill">
            <div class="card-body">
                <div class="my-8 mx-auto" style="width: 780px;">
                    <h1 class="text-center mb-4 fs-4">Création de votre véhicule</h1>
                    {{ form_errors(form) }}
                    {{ form_start(form, { attr: { 'data-controller': 'model-loader' } }) }}
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.energy, { attr: {'class': 'my-custom-class'} }) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.color, { attr: {'class': 'my-custom-class'} }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.brand, { attr: { 'data-model-loader-target': 'brand' }}) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.model, { attr: { 'data-model-loader-target': 'model' }}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.registration, { attr: {'class': 'my-custom-class'} }) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.firstregistrationAt, { attr: {'class': 'my-custom-class'} }) }}
                        </div>
                    </div>
                    <button id="submit-reset-pw" type="submit" class="btn btn-md btn-dark">
                        <span>Enregistrer</span>
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}