{% extends 'base.html.twig' %}

{% block title %}Heure et date d'arrivée
{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="vr4s70">
            <h1 class="h06k9w">
                <span class="pq759c">Quand prévoyez-vous d'arriver ?</span>
            </h1>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_errors(form) }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.arrivalDate) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.arrivalTime) }}
                </div>
            </div>
            <div class="xyo4ps">
                <hr class="h24ub2">
            </div>
            <div class="ts6dy9">
                <button type="submit" class="btn btn-primary mt-3">Continuer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}