<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" type="image/png" href="{{ asset('favicon/favicon-96x96.png') }}" sizes="96x96"/>
		<link rel="icon" type="image/svg+xml" href="{{ asset('favicon/favicon.svg') }}"/>
		<link rel="shortcut icon" href="{{ asset('favicon/favicon.ico') }}"/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}"/>
		<link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% include "shared/_navbar.html.twig" %}
		{% include "partials/_flash.html.twig" %}
		{% block body %}{% endblock %}
		<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
			<i class="fa-solid fa-arrow-up"></i>
		</a>
	</body>
</html>