<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Ecoride</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a title="Rechercher un trajet" class="nav-link pjdcjh" href="{{ path('app_trip_search') }}">
						<i class="bi bi-search"></i>
						Rechercher
					</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_contact') }}" class="nav-link">
						📣 Contact
					</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYE') %}
						<li class="nav-item">
							<a href="{{ path('admin') }}" class="nav-link">Administration</a>
						</li>
					{% endif %}
					<li class="nav-item d-flex align-items-center me-3 mb-2 mb-md-0">
						<span class="badge bg-primary px-3 py-2">
							{{ app.user.credit|credit(true) }}
						</span>
					</li>
					<li class="nav-item me-3 mb-2 mb-md-0">
						<a title="Publier un trajet" class="btn btn-success" href="{{ path('app_trip_wizard_departure') }}">
							<i class="bi bi-plus-circle"></i>
							Publier un trajet
						</a>
					</li>
					<div class="btn-group">
						<button class="dropdown-toggle btn-dropdown-user" type="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
							<div class="sc-gravatar">
								<img src="{{ vich_uploader_asset(app.user.avatar, 'imageFile') }}" class="sc-img-gravatar">
							</div>
						</button>
						<ul class="dropdown-menu dropdown-menu-lg-end py-0">
							<li class="py-2 px-2">
								<a class="dropdown-item dropdown-user" href="{{path('app_profile')}}">Profil</a>
							</li>
							{% if app.user.tripsAsDriver|length > 0 %}
								<li class="py-2 px-2">
									<a class="dropdown-item dropdown-user" href="{{path('app_trip_driver_list')}}">
										Mes trajets comme conducteur
									</a>
								</li>
							{% endif %}
							{% if app.user.tripPassengers|length > 0 %}
								<li class="py-2 px-2">
									<a class="dropdown-item dropdown-user" href="{{ path('app_trip_passenger_list') }}">
										Mes trajets comme passager
									</a>
								</li>
							{% endif %}
							<div class="space-between"></div>
							<li class="py-2 px-2">
								<a class="dropdown-item dropdown-user" href="{{ path('app_travel_preference_index') }}">
									<i class="bi bi-sliders"></i>
									Préférences de voyage
								</a>
							</li>
							<div class="space-between"></div>
							<li class="py-2 px-2">
								<a class="dropdown-item dropdown-user color-btn-logout" href="{{ path('app_logout') }}">Se déconnecter</a>
							</li>
						</ul>
					</div>
				{% else %}
					<li class="nav-item">
						<a href="{{ path('app_login') }}" class="btn btn-primary btn-connect">Se connecter</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>